* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', 'Times New Roman', serif;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #dedede; 
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

/* Header */
.black-header {
    background-color: #000;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.logo-area img {
    margin-top: 12%;
    margin-left: -20%;
    height: 120px;
    width: auto;
}

.header-nav {
    display: flex;
    gap: 10px;
    
}

.btn-gray {
    background-color: #1a1a1a;
    border: 1px solid #333;
    color: #fff;
    padding: 12px 25px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s;
}

.user-area {
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 800;
    font-size: 14px;
}

.user-icon { font-size: 24px; }

/* Linha Vermelha */
.red-divider {
    height: 3px;
    background-color: #610008;
    width: 100%;
}

/* Banner Centralizado */
.hero-section {
    height: 380px;
    background-color: #000; 
}

.hero-image {
    background-image: url('../img/fotoEstacionamento.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.53); 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* A CAIXA COM FUNDO PRETO/FUMÊ DA IMAGEM */
.hero-text-card {
    background-color: rgba(141, 141, 141, 0.875); 
    padding: 20px 40px;
    border-radius: 2px;
    font-family: 'Georgia', 'Times New Roman', serif;
}

.hero-text-card p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: #eaeaea;
}

.red-bold { color: #BC1624; font-weight: 700; }
.black-bold { color: #d5d5d5; font-weight: 700; font-family: 'Georgia', 'Times New Roman', serif; }

/* Área Inferior */
.empty-state {
    flex: 1; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 20px;
}

/* Caixa para colocar os botões lado a lado */
.button-group {
    display: flex;
    gap: 30px; 
}

/* Estilo unificado para os botões vermelhos */
.btn-main-action {
    background-color: #BC1624;
    color: white;
    border: none;
    padding: 20px 70px;
    border-radius: 9px;
    font-weight: 900;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Georgia', 'Times New Roman', serif;
}

.btn-main-action:hover {
    background-color: #8e111b;
}

/* Footer ajustado */
.main-footer {
    text-align: center;
    padding-bottom: 20px;
    color: #000000;
    font-size: 0.8rem;
    font-weight: 800;
}

/* Dropdown básico */
.dropdown { position: relative; }
.dropdown-content {
    display: none;
    position: absolute;
    background: #222;
    min-width: 200px;
    top: 100%;
    z-index: 10;
}
.dropdown-content a {
    color: white;
    padding: 12px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}
.show { display: block !important; }